[submodule "themes/custom/less/bootstrap"]
	path = themes/custom/less/bootstrap
	url = git@github.com:twitter/bootstrap.git

[submodule "reveal-js"]
	path = reveal-js
	url = git@github.com:hakimel/reveal.js.git
