/* Medium screens and up only */
@media only screen and (min-width: 40.063em) {
.sidepanel {
        position: fixed;
        bottom: 0;
}
} /* min-width 641px, medium screens */

/* Medium screens only */
@media only screen and (min-width: 40.063em) and (max-width: 64.0em) {
h2 {
    font-size: 1.8em;
}
} /* min-width 641px, medium screens */


/*Large screens and up only*/
@media only screen and (min-width: 64.063em) {
.sidepanel-main {
    padding: 0 30px;
}
} /* min-width 1025px, large screens */
