## -*- coding: utf-8 -*-
<%def name="html_head()">
    <meta charset="utf-8">
    <meta name="description" content="${description}" >
    <meta name="author" content="${blog_author}">
    <title>${title} | ${blog_title}</title>
    ${mathjax_config}
    %if use_bundles:
        %if use_cdn:
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
            <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        %else:
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
        %endif
    %else:
        %if use_cdn:
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
        %else:
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        %endif
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/slides.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    %endif
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    %if rss_link:
        ${rss_link}
    %else:
        %if len(translations) > 1:
            %for language in translations:
                <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, language)}">
            %endfor
        %else:
            <link rel="alternate" type="application/rss+xml" title="RSS" href="${_link('rss', None)}">
        %endif
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif
</%def>

<%def name="late_load_js()">
    %if use_bundles:
        %if use_cdn:
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
            <script src="/assets/js/all.js" type="text/javascript"></script>
        %else:
            <script src="/assets/js/all-nocdn.js" type="text/javascript"></script>
        %endif
    %else:
        %if use_cdn:
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        %else:
            <script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
            <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
        %endif
        <script src="/assets/js/jquery.colorbox-min.js" type="text/javascript"></script>
        <script src="/assets/js/slides.min.jquery.js" type="text/javascript"></script>
    %endif
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5041200b16ca47ea"></script>
    <script type="text/javascript" src="http://easydate.parshap.com/files/jquery.easydate-0.2.4.min.js"></script>
</%def>


<%def name="html_sidebar_links()">
    %for url, text in sidebar_links[lang]:
        <%
            ## open external URLs in new window
            if 'http' in url:
                external = 'target="_blank"'
            else:
                external = ''
        %>
        % if rel_link(permalink, url) == "#":
            <li class="active"><a href="${url}" ${external}>${text}</a>
        %else:
            <li><a href="${url}" ${external}>${text}</a>
        %endif
    %endfor
</%def>


<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <a href="${_link("index", None, langname)}">${messages("LANGUAGE", langname)}</a>
        %endif
    %endfor
</%def>


<%def name="social_icons()">
    <%
        social_profiles = {
            'facebook': 'http://www.facebook.com/baldawa',
            'twitter': 'http://www.twitter.com/dhruvbaldawa',
            'google': 'https://plus.google.com/u/0/108624147239735557968/?rel=author',
            'linkedin': 'http://in.linkedin.com/in/dhruvbaldawa',
            'flickr': 'http://www.flickr.com/photos/dhruvbaldawa/',
            'mail': 'https://docs.google.com/forms/d/1no_NGknomUFgiMd_6Al5fgUKSXMaSjC-plyOby8uwko/viewform',
        }
    %>
    <div class="social-icons">
        % for profile, link in social_profiles.items():
            <a href="${link}" class="social-icon" target="_blank">
                <img src="/images/social_icons/${profile}.png" />
            </a>
        %endfor
    </div>
</%def>
