## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <div class="post-box">
            <div class="post-top">
                <div class="post-title">
                    <a href="${post.permalink()}">
                        <h2>${post.title()}</h2>
                    </a>
                </div>
            </div>
            <div class="post-content">
                ${post.text(teaser_only=index_teasers)}
            </div>
            <div class="post-details">
                ${helper.post_social(post)}
                posted <time class="published easydate" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time> &middot; ${post.reading_time} min. read &middot;
                % if not post.meta('nocomments'):
                    ${comments.comment_link(post.permalink()+"#disqus_thread", post.base_path)}
                % endif
            </div>
        </div>
    % endfor
    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${helper.mathjax_script(post)}
</%block>
