## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
</%block>
<%block name="content">
    <div class="post-box">
        <div class="post-top">
            <div class="post-title">
                <a href="${post.permalink()}">
                    <h1>${title}</h1>
                </a>
            </div>
        </div>
        <small>
            ${messages("Posted")}: <time class="published easydate" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
            ${helper.html_translations(post)}
            ${helper.html_tags(post)}
        </small>
        <div class="post-content">
            ${post.text()}
        </div>
        ${helper.post_social(post)}
        <hr>
        ${helper.html_pager(post)}
        % if not post.meta('nocomments'):
            ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
        % endif
        ${helper.mathjax_script(post)}
    </div>
</%block>
