<!doctype html>
<%namespace file="presentation_helper.tmpl" import="*"/>
<html lang="en">
    <head>
        ${html_head()}
        <%block name="extra_head">
            <meta name="description" content="${post.description()}">
        </%block>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">${post.text()}</div>
        </div>
        ${late_load_js()}
    </body>
</html>
