## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
    <!--Body content-->
    <h1>${title}</h1>
    <ul class="inline-list">
    % for text, link in items:
        <li><a class="tag" href="${link}"><i class="fi-price-tag"></i> ${text}</a></li>
    % endfor
    </ul>
    <!--End of body content-->
</%block>
